{% extends "layout.html" %}
{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
<style>
    .fa-trash {
        cursor: pointer;
        float: right;
    }
</style>

{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">


        <h2 id="title">{{ title }}</h2>
        <a href={{ url_for('todolists_all') }}>Back to List</a>

        <div class="form-group">
            <label class="control-label">Add New todo item:</label>

            <input class="form-control" id="newItem" name="newItem" />
            <button class="btn btn-primary" id="addNewItem">Submit</button>
        </div>
        <br />
        <span id="errorMsg" class="text-danger"></span>
        {% if todolist.toDoItems %}

        <table class="table table-hover">
            <tbody>
                {% for i in todolist.toDoItems %}
                <tr>
                    <td>

                        <span> {{i.name}}</span>
                        <i class="fa fa-trash"></i>


                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <span>No todo Items.<br /></span>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $('#addNewItem').click(function () {
        //alert($('#newItem').val());

        const uri = "/todoitem?todolist_name=" + $('#title').text()
        const list = {
            name: $(newItem).val()
        };

        console.log('uri=' + uri)
        console.log('name=' + list)

        fetch(uri, {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(list)
        })
            .then(res => {
                return res.json();
            })
            .then(result => {
                //console.log(result[0]);
                if (result[0] == 'success') {
                    location.reload();
                }
                else {
                    $('#errorMsg').text(result[1]);
                }
            });
    })
    $('.fa-trash').click(function () {
        if (confirm('Are you sure to delete this?')) {
            console.log('delete item name = ' + $(this).siblings('span').text().trim());
          
            const uri = '/todoitem/?todolist_name='+$('#title').text()+'&todoitem_name='+ $(this).siblings('span').text().trim();
            fetch(uri , {
                method: 'DELETE',
             
            }).then(res => {
                return res.json();
            })
                .then(result => {

                    if (result[0] == 'success') {
                        location.reload();
                    }
                    else {

                        alert(result[1]);
                    }
                });
        }

     })
</script>


             
{% endblock %}